In [163]:
import pandas as pd
import glob

csv_dir_path = "../WebScraper/seedly-forum/*.csv"

In [164]:
#method for cleanning up username string

def split_user_details(user_details):
    user_details = user_details.replace("Answered on","")
    user_details = user_details.replace("Updated on","")
    commar_index = user_details.find(",")
    level_index = user_details.find("Level")
    level_rank = 0
    # 
    if level_index != -1:
        level_rank = user_details[level_index:]
    # commar delimeter applicable to some username string but not all.
    if commar_index != -1:
        username = user_details[:commar_index+1]
    else:
        username = user_details[:level_index+1]
    
    # Remove this particular string from usernames if it exist
    username = username.replace("Top Contributor (Sep)","")
    
    # Remove comments string from usernames if it exists
    comments_index = username.find("comments")
    if comments_index != -1:
        username = username[comments_index+9:]
    if username.endswith("L"):
        username = username[:-1]
    username = username.replace(",","")
    
    # Check if user exists as a user in seedly. If not give them default values
    if level_rank!=0:
        dot_substring = level_rank.find(".")
        level_substring = level_rank.find("Level")
        level = int(level_rank[level_substring+6:dot_substring])
        rank = level_rank[dot_substring+2:]
    else:
        level = 0
        rank = "Nub"
    
    return username,level,rank

In [165]:
# Returns the dict where username has already existed in the network
def get_repeated_user_dict(post_answer_list,username):
    
    for i, answer_dict in enumerate(post_answer_list):
        if username == answer_dict.get("username"):
            return post_answer_list.pop(i), post_answer_list

In [166]:
# Code cleans and returns dictionary of cleaned answer and question
# It is assumed one forum post only has one Anonymous User

import re

question_list = []
answer_list = []
check_answer_list = []
check_question_list = []
# Regex for date identification within comments
regex = r'\d{2}\s(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s\d{4}'
qid = 0
annon_counter = 1

# clean each file individually and store each line of question and answer individiually into a list
for filename in glob.glob(csv_dir_path):
    file_df = pd.read_csv(filename)
    qid += 1
    
    # Check if username did change for Anonymous users in each post
    check_username_change = False
    # Used to check if username exists within post
    check_username_list = []
    #accumulate non-repeated user in post
    post_answer_list = []
    #
    for i,content in enumerate(file_df.content):
        user_details = ""
        question_dict = {}
        answer_dict = {}
        answer = ""
        # First row is always question
        if i == 0:
            substr_index = content.find("Asked by")
            q_user_details = content[substr_index:]
            new_sub_index = q_user_details.find("Asked on")
            question_name = q_user_details[:new_sub_index].replace("Asked by","").strip()
            if question_name.find("Asked")!= -1:
                question_name = question_name[:question_name.find("Asked")]
            question = q_user_details[new_sub_index+20:]
            question = question[:question.find("answer")-2]
            question_dict["post_id"] = qid
            question_dict["name"] = question_name
            question_dict["question"] = question
        
        # when i == 1 row is just a header row. Afterwards is the actual answers
        elif i > 1:
            #Extract Answer and user details
            substr_index = content.find("Answered")
            pos_substr_index = content.find("Updated")
            date = re.findall(regex,content)
            
            #Check using date substring first
            if date:
                date_substr = content.find(date[0])
                user_details = content[:date_substr]
                answer = content[date_substr+11:]
                answer = answer[:answer.find("comments")-2]
                
            # Check if Answered string is a substring
            elif substr_index != -1:
                answer = content[substr_index:]
                answer = answer[:answer.find("comments")-2]
                w_substr = answer.find("w ago")
                h_substr = answer.find("h ago")
                d_substr = answer.find("d ago")
                if w_substr!= -1:
                    answer = answer[w_substr+5:]
                elif h_substr!= -1:
                    answer = answer[h_substr+5:]
                elif d_substr != -1:
                    answer = answer[d_substr+5:]
                user_details = content[:substr_index]
                
            # Check if Updated String is a substring    
            elif pos_substr_index!= -1:
                answer = content[pos_substr_index:]
                answer = answer[:answer.find("comments")-2]
                w_substr = answer.find("w ago")
                h_substr = answer.find("h ago")
                d_substr = answer.find("d ago")
                if w_substr!= -1:
                    answer = answer[w_substr+5:]
                elif h_substr!= -1:
                    answer = answer[h_substr+5:]
                elif d_substr != -1:
                    answer = answer[d_substr+5:]
                user_details = content[:pos_substr_index]
                
            # Filtered words don't exist. Straight away remove using period taken since user has answered post
            else:
                w_substr = content.find("w ago")
                h_substr = content.find("h ago")
                d_substr = content.find("d ago")
                if w_substr!= -1:
                    answer = content[w_substr+5:]
                    user_details = content[:w_substr-1]
                elif h_substr!= -1:
                    answer = content[h_substr+5:]
                    user_details = content[:h_substr-1]
                elif d_substr != -1:
                    answer = content[d_substr+5:]
                    user_details = content[:d_substr-1]
                    
        # Check if user_details has been populated before if not call method to generate default user
        if user_details:
            username, level, rank = split_user_details(user_details)
        
        # Check if is Anonymous user. If not create default user for post
        if not username:
            username = "Anonymous " + str(annon_counter)
            if not check_username_change:
                annon_counter += 1
                check_username_change = True
        
        # Check if answer exists to remove repeated answers from repeated content crawled based on repeated crawled content
        if answer and answer not in check_answer_list:
            check_answer_list.append(answer)
            username = username.replace("DeleteEdit","")
            if username not in check_username_list and "Anonymous" not in username:
                check_username_list.append(username)
                answer_dict["post_id"] = qid
                answer_dict["username"] = username
                answer_dict["username_count"] = 1
                answer_dict["level"] = level
                answer_dict["rank"] = rank
                answer_dict["answer"] = answer
                post_answer_list.append(answer_dict)
            elif "Anonymous" in username:
                continue
            else:
                new_answer_dict, post_answer_list = get_repeated_user_dict(post_answer_list,username)
                new_answer_dict["username_count"] += 1
                post_answer_list.append(new_answer_dict)
        
        # Check if question exists to remove repeated question from repeated content crawled based on repeated crawled content
        if question_dict and question and question not in check_question_list:
            question_list.append(question_dict)
            check_question_list.append(question)
            
    answer_list.extend(post_answer_list)

# General storing and EDA of data cleaned

In [167]:
answer_df = pd.DataFrame(answer_list)

In [168]:
question_df = pd.DataFrame(question_list)

In [169]:
answer_df

,post_id,username,username_count,level,rank,answer
0,1,Jason Yip,1,2,Rookie,All condos have en-bloc potential if you have ...
1,1,Billy Ko,1,6,Master,Low Flats / Few UnitsWhen developers redevelop...
2,2,Douglas Chow,1,3,Wonderkid,Hi. Douglas here. 2nd keynote speaker.It;s pre...
3,3,Douglas Chow,1,3,Wonderkid,"Hi, Douglas here. 2nd Keynote Speaker.I'm afra..."
4,4,Douglas Chow,1,3,Wonderkid,Hi there. Douglas here 2nd keynote speaker.Go ...
...,...,...,...,...,...,...
15000,5951,Leslie Koh,1,4,Prodigy,"If you’re comparing on features, Revolut is be..."
15001,5951,RyaN Cheong,1,2,Rookie,You may refer to following:https://www.google....
15002,5952,Leslie Koh,1,4,Prodigy,"If you’re comparing on features, Revolut is be..."
15003,5953,Lok Yang Teng,1,6,Master,YouTrip is an app designed for travellers to p...
15004,5954,Lava Ama A Dios,1,2,Rookie,So let’s weigh the plans of zero and zero1 ass...

In [170]:
question_df

,post_id,name,question
0,1,Kuriakin J. Zeng,How to pick a property with enbloc potential?
1,2,Anonymous,I was at a Condo launch recently and my proper...
2,3,Anonymous,Is there any way to increase my CPF amount so ...
3,4,Anonymous,"For a first time buyer as a couple, should we ..."
4,5,Anonymous,The second speaker mentioned about “leverage”....
...,...,...,...
5776,5949,Anonymous,sked 2w agoDoes anyone use YouTrip or Revolut ...
5777,5950,Xinyi Lum,How does YouTrip compare to other MCAs like Re...
5778,5951,Anonymous,"sked 2w agoBetween YouTrip and Revolut, which ..."
5779,5953,Anonymous,"What are the main differences between YouTrip,..."
5780,5954,Anonymous,What is the difference between Zero mobile and...

In [171]:
answer_df[answer_df["level"] >= 6].groupby("username").head()

,post_id,username,username_count,level,rank,answer
1,1,Billy Ko,1,6,Master,Low Flats / Few UnitsWhen developers redevelop...
5,5,Junus Eu,1,8,Wizard,Financial leverage is the money BORROWED (ie. ...
6,5,Lok Yang Teng,1,6,Master,Leverage to put simpliy is just borrowing to b...
9,8,Yong Kah Hwee,1,6,Master,It really depends on your situation. Do you wa...
10,9,Lok Yang Teng,1,6,Master,Yes you can. There are a few requirements you ...
...,...,...,...,...,...,...
5556,2014,CPF Board,1,6,Master,"Hi Gabriel,For CPF savings to be distributed t..."
9312,3562,Asheesh Chanda,1,6,Master,I would suggest you evaluate a systematic plan...
12108,4718,CPF Board,1,6,Master,"Hi Ting Han,Transferring your Ordinary Account..."
13867,5402,CPF Board,1,6,Master,"Hi,\r\nMediSave is a national medical savings ..."
13870,5403,CPF Board,1,6,Master,"Hi,\r\nCPF monies are invested by the CPF Boar..."

# Networkx Analysis

In [172]:
import networkx as nx
import matplotlib.pyplot as plt

In [173]:
user_answer_df = answer_df.drop("answer",axis=1)
user_answer_df

       post_id         username  username_count  level        rank
0            1        Jason Yip               1      2     Rookie
1            1         Billy Ko               1      6     Master
2            2     Douglas Chow               1      3  Wonderkid
3            3     Douglas Chow               1      3  Wonderkid
4            4     Douglas Chow               1      3  Wonderkid
...        ...              ...             ...    ...         ...
15000     5951       Leslie Koh               1      4     Prodigy
15001     5951      RyaN Cheong               1      2      Rookie
15002     5952       Leslie Koh               1      4     Prodigy
15003     5953    Lok Yang Teng               1      6     Master
15004     5954  Lava Ama A Dios               1      2     Rookie

[15005 rows x 5 columns]

In [174]:
user_answer_df

       post_id         username  username_count  level        rank
0            1        Jason Yip               1      2     Rookie
1            1         Billy Ko               1      6     Master
2            2     Douglas Chow               1      3  Wonderkid
3            3     Douglas Chow               1      3  Wonderkid
4            4     Douglas Chow               1      3  Wonderkid
...        ...              ...             ...    ...         ...
15000     5951       Leslie Koh               1      4     Prodigy
15001     5951      RyaN Cheong               1      2      Rookie
15002     5952       Leslie Koh               1      4     Prodigy
15003     5953    Lok Yang Teng               1      6     Master
15004     5954  Lava Ama A Dios               1      2     Rookie

[15005 rows x 5 columns]

In [175]:
G = nx.from_pandas_edgelist(user_answer_df, source="username",target="post_id",edge_attr=["username_count"])
G.number_of_nodes()

6987

In [176]:
G.number_of_edges()

15005

In [177]:
n = 10

# compute degree centrality
degree_centrality = nx.degree(G)
# highest degree centrality
top_n_dc = sorted(degree_centrality, key=lambda x: x[1], reverse=True)[:n]

for author, d in top_n_dc:
    print(d,author)

825 Gabriel Tham
822 Hariz Arthur Maloy
480 Jonathan Chia Guangrong
454 Yong Kah Hwee
407 Nicholes Wong
384 Kenneth Lou
350 Junus Eu
350 Loh Tat Tian
343 HC Tang
327 Lok Yang Teng

In [178]:
from collections import OrderedDict
# compute normalised degree centrality
normalized_degree_centrality = nx.degree_centrality(G)
# highest normalised degree centrality
top_n_ndc = OrderedDict(sorted(normalized_degree_centrality.items(), key=lambda x: x[1], reverse=True)[:n])

for author in top_n_ndc:
    print(top_n_ndc[author],"\t",author)

0.1180933295161752 	 Gabriel Tham
0.11766389922702547 	 Hariz Arthur Maloy
0.06870884626395649 	 Jonathan Chia Guangrong
0.0649871170913255 	 Yong Kah Hwee
0.05825937589464643 	 Nicholes Wong
0.05496707701116518 	 Kenneth Lou
0.0501002004008016 	 Junus Eu
0.0501002004008016 	 Loh Tat Tian
0.049098196392785565 	 HC Tang
0.04680790151732035 	 Lok Yang Teng